<nav class="navbar navbar-expand-md navbar-dark fixed-top" style="background-color: #ffd300; color: #1a0700">
  <a class="navbar-brand"> <b>ELAY</b></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link cursor" style="color:#1a0700" *ngIf="!isAuthenticated()" (click)="login()">Iniciar sesión</a>
      </li>
      <li class="nav-item">
        <a class="nav-link cursor" style="color: #1a0700" *ngIf="isAuthenticated()" (click)="logout()">Cerrar sesión</a>
      </li>
    </ul>
  </div>
</nav>