<div class="row">
    <div class="col-lg-12">
        <br>
    </div>
    <div class="col-lg-12">
        <h4 class="text-center">
            <b>Torre: </b>{{torre}} -
            <b>Apartamento: </b>{{apto}}</h4>
        <br>
    </div>
    <div *ngFor="let alarma of alarmas" style="background-color: red;color: white">
        <div class="col-lg-4 text-center">
            <p>
                <b>Tipo: </b> {{alarma.alertaId}}
            </p>
            <p>
                <b>Fecha: </b>{{alarma.timestamp}}</p>
            <p *ngIf="alarma.mensajeAlerta">
                <b>Mensaje: </b>{{alarma.mensajeAlerta}}
            </p>

        </div>
    </div>
</div>